* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #fff; }

.header {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../img/Back.png");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px; }
  .heading-primary__main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 20px;
    animation-name: ani1;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary__sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 12.5px;
    animation-name: ani2;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn-white {
  background-color: #fff;
  color: #000;
  letter-spacing: 2px;
  font-weight: 400; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2); }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0; }

.btn-animated {
  animation: anibtnwhite .5s ease-out .75s;
  animation-fill-mode: backwards; }

@keyframes ani1 {
  0% {
    opacity: 0;
    transform: translate(50px); }
  50% {
    transform: translate(-50px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes ani2 {
  0% {
    opacity: 0;
    transform: translate(-50px); }
  50% {
    transform: translate(50px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes anibtnwhite {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
