/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes ani1 {
  0% {
    opacity: 0;
    transform: translate(5rem); }
  50% {
    transform: translate(-5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes ani2 {
  0% {
    opacity: 0;
    transform: translate(-5rem); }
  50% {
    transform: translate(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes anibtnwhite {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes lazy {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 63%; }

body {
  box-sizing: border-box;
  animation-name: lazy;
  animation-duration: 3s; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #fff;
  padding: 2rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem; }
  .heading-primary__main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: ani1;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary__sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.25rem;
    animation-name: ani2;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
.heading-secondary {
  margin-top: 0rem;
  color: #000;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8rem;
  display: inline-block; }
.heading-three {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  letter-spacing: .2rem;
  margin-top: .5rem; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  line-height: 1.5; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.skills-heading {
  color: #fff;
  font-weight: 400;
  font-family: "Lato",sans-serif;
  letter-spacing: 1.5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }
.btn__white {
  background-color: #fff;
  color: #000;
  letter-spacing: 0.2rem;
  font-weight: 400; }
  .btn__white::after {
    background-color: #fff; }
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2); }
.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2); }
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0; }
.btn__animated {
  animation: anibtnwhite .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #000;
  border: 0.1rem solid #000;
  padding-bottom: 0.4rem;
  padding: 1rem 2rem;
  transition: all .2s;
  text-align: center;
  border-radius: 10rem; }
.btn-text:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }
.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative;
  transition: all .2s; }
  .composition__photo {
    width: 25%;
    border-radius: 5rem;
    margin-left: 15rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute; }
    .composition__photo:hover {
      transform: scale(1.05);
      transform: translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.2);
  transition: all .3s;
  height: 60vh; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__icons {
    font-size: 5rem;
    color: #333;
    margin-bottom: .8rem;
    font-weight: 300; }
  .feature-box__text {
    color: #000;
    margin-bottom: .5rem;
    display: block;
    margin-left: 1rem;
    padding-left: 0;
    text-align: justify;
    line-height: 3rem; }

.education {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: .3rem;
  padding: 3rem;
  font-size: 1.6; }
  .education__logo {
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    padding-left: 1rem;
    padding-bottom: 1rem; }
  .education__img {
    height: 100%;
    width: 100%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row__1 {
    padding-bottom: 3.5rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 93vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../img/Back.png");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 9rem; }
  .header__text-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0 0rem;
  margin-bottom: 0;
  margin-top: -20vh;
  height: 120vh; }
.section-skills {
  margin-top: 0;
  padding: 5rem 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/Back3.png");
  background-size: cover;
  height: 100vh; }
.section-projects {
  background-color: #f7f7f7;
  padding: 20rem 0 0rem;
  margin-bottom: 0;
  height: 100vh; }
.section-education {
  margin-top: 0;
  padding: 5rem 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/Back3.png");
  background-size: cover;
  height: 140vh; }
