$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before{
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}
html{
	font-size: 63%;
}
body{
	font-family: "Lato",sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.2;
	color: $color-white;
	padding: 2rem;
	box-sizing: border-box;
}
.header{
	height: 93vh;
	background-image:linear-gradient(to bottom,rgba($color-black,0.7),
	rgba($color-black,0.9)), url("../img/Back.png");
	background-size: cover;
	background-position: top;
	position: relative;
//	&__logo-box{
//		position: absolute;
//		top: 4rem;
//		left: 4rem;
//	}
//	&__logo{
//		height: 3.5rem;
//	}
	&__text-box{
		position: absolute;
		top:70%;
		left:50%;
		transform: translate(-50%,-50%);
		text-align: center;
	}
	
	
}
.heading-primary{
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 3rem;
	&__main{
		display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2rem;
		animation-name: ani1;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}
	&__sub{
		display: block;
		font-size: 2rem;
        font-weight: 400;
		letter-spacing: 1.25rem;
		animation-name: ani2;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}
}
.btn{

	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s;
		position: relative;
		}

	&__white{
		background-color: $color-white;
		color: $color-black;
		letter-spacing: 0.2rem;
		font-weight: 400;
		
		&::after{
			background-color: $color-white;
		}
	}

	&:hover{
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-white,0.2);
	}

	&:active{
		transform: translateY(0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-white,0.2);
	}
	&::after{
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}
	
	&:hover::after{
		transform: scaleX(1.2) scaleY(1.4);
		opacity: 0;
	}
	&__animated{
		animation: anibtnwhite .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
}

@keyframes ani1 {
	0% {
		opacity: 0;
		transform: translate(5rem);
	}
	50% {
		transform: translate(-5rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes ani2 {
	0% {
		opacity: 0;
		transform: translate(-5rem);
	}
	50% {
		transform: translate(5rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes anibtnwhite {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
