.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .9);
    z-index: 9999;
    opacity: 0;
    visibility:hidden;
    transition: all .3s;
	


		
		
	&__content{
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
		transform: translate(-50%, -50%);
        transition: all .5s .2s;

		
	}
	&__img{
		
		display: block;
		width:100%;
		
   @include respond(tab-port) {
	   height: 60rem;
	   width: 35rem;;
        
    }
		
    @include respond(tab-land) {
	   height: 60rem;
	   width: 35rem;;
        
    }
		
	@include respond(phone) {
		display: none;
		visibility: hidden;
		opacity: 0;

    }

		
	}
	&__left{
        width: 33.333333%;
        display: table-cell;
		
	}
	&__right{
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
	}
		
    @include respond(tab-port) {
	   padding-top: 10rem;
        
    }
		
	@include respond(phone) {
		
	&__left{
        width: 0%;
        display: table-cell;
		
	}
	&__right{
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
		padding-top: 7rem;
	}
    

    }
		
	&__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
	&__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 1;
        -moz-column-gap: 4rem; //1em = 14px;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 1;
        column-gap: 4rem; //1em = 14px;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
		text-align: justify;
		color: $color-black;
		line-height: 3rem;
		

		
	}
	&__head{
		transform: translateY(-3rem);	}
	
}